@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    background-image: url('../../public/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(1.25);
    width: 100vw;
    margin-left: -10vw;
    padding-bottom: 5vh;
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 99%);
    mask-image: linear-gradient(to bottom, black 60%, transparent 99%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#logo{
    width: 80vw;
    color: $dark-moss-green;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

input{
    background-color: $ash-gray-t;
    color: $licorice;
    border: none;


    &::placeholder{
        color: $english-violet;
        font-family: 'Poppins';
        font-weight: 600;

    }
}

.price-filter, .continent-filter{
   font-size: 0.5em;
}