
.container-listing{
    padding-top: 5vh;
    margin-top: 10vh;
    margin-left: 5vw;
    width: 80vw;
    background-color: $ash-gray ;
    min-height: 100vh;
    height: auto;
    -webkit-mask-image: linear-gradient(to top, black 95%, transparent 100%);
    mask-image: linear-gradient(to top, black 95%, transparent 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#listing{
    margin-top: 20vh;
    margin-right: 10vw;
}

#listing img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}